/* - Reset - */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-size: 100%;
}

* {
    -moz-box-sizing: border-box;
    /*Firefox 1+*/
    -webkit-box-sizing: border-box;
    /*Safari 3+, Chrome 1+*/
    box-sizing: border-box;
    /*Opera 7+, IE8+*/
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
td img {
    vertical-align: top;
}

input,
select,
button,
textarea {
    margin: 0;
    font-size: 100%;
}

input[type="text"],
input[type="password"],
textarea {
    padding: 0;
}

input[type="checkbox"] {
    vertical-align: bottom;
}

input[type="radio"] {
    vertical-align: text-bottom;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

ul {
    list-style: none;
}

/* - /Reset - */
.placeholder {
    color: #002651;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}

:-moz-placeholder {
    color: #002651;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}

::-webkit-input-placeholder {
    color: #002651;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}

:-ms-input-placeholder {
    color: #002651;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}

/* - Base settings - */
html {
    background: #fff;
    font-size: 10px;
}

html,
body {
    max-width: 600px;
    min-width: 320px;
    margin: 0 auto;
    height: 100%;
}

body {
    line-height: 1;
    color: #292929;
    text-align: left;
    font: 18px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-size: 22px;
    font-size: 2.2rem;
}

input,
select,
button,
textarea {
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}

label,
input[type="button"],
input[type="submit"],
button {
    cursor: pointer;
}

a:hover {
    color: #e9d8a6;
    text-decoration: none;
}

/* - /Base settings - */
/* - Sys - */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.lte8 .clearfix {
    overflow: hidden;
    zoom: 1;
}

.clear {
    clear: both;
}

.dib {
    zoom: 1;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    _display: inline;
    *display: inline;
    vertical-align: top;
}

/* - /Sys - */
/* - Baselayout - */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    width: 100%;
    line-height: 1;
    margin: 0 auto;
    position: relative;
}

.page-wrapper__inner {
    width: 320px;
    margin: 0 auto;
    padding: 0 5px 10px;
    height: 100%;
    position: relative;
}

.translate5050 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.transitionall * {
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

.transitionmy {
    -moz-transition: transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
}

.dispn {
    display: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right !important;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.upper {
    text-transform: uppercase;
}

.posrel {
    position: relative;
}

.fs0 {
    font-size: 0;
}

.dtable {
    display: table;
    width: 100%;
}

.dtc {
    display: table-cell;
    vertical-align: middle;
}

.font-light {
    font-weight: 300;
}

.w50 {
    width: 50%;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mt20 {
    margin-top: 20px;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.hidden {
    display: none !important;
}

.affix {
    position: fixed;
}

.tdlh {
    text-decoration: line-through;
}

img {
    max-width: 100%;
    height: auto;
}

.btn {
    width: 260px;
    height: 60px;
    margin: 0 auto;
    line-height: 60px;
    background: #cd0b1e;
    border-bottom: 4px solid #b40008;
    border-right: 4px solid #b40008;
    color: #fff;
    font-weight: 700;
    text-align: center;
    position: relative;
    z-index: 999;
    text-transform: uppercase;
    font-size: 34px;
    font-size: 3.4rem;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    -moz-transition: transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
}

.btn.top {
    bottom: 20px;
    left: 50%;
    position: absolute;
    margin-left: -130px;
}

.btn:hover, .btn:active, .btn:focus {
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    cursor: pointer;
    color: #fff;
}

input.inp {
    width: 100%;
    padding: 9px 10px;
    border: 0;
    outline: none;
    margin-bottom: 13px;
    background: #fff;
    font-size: 20px;
    color: #002651;
    border: 1px solid #8cb7e5;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

select.inp {
    width: 100%;
    padding: 9px 10px;
    border: 0;
    outline: none;
    margin-bottom: 13px;
    background: #fff;
    font-size: 20px;
    color: #002651;
    border: 1px solid #8cb7e5;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../img/select.png") no-repeat 98% center #fff;
}

header {
    /*height: 480px; */
    background: #C0E5F5; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(254, 255, 255, 1) 0%, rgba(221, 241, 249, 1) 41%, rgba(160, 216, 239, 1) 99%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(254, 255, 255, 1) 0%, rgba(221, 241, 249, 1) 41%, rgba(160, 216, 239, 1) 99%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(254, 255, 255, 1) 0%, rgba(221, 241, 249, 1) 41%, rgba(160, 216, 239, 1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

header .header__line1 {
    color: #002651;
    font-size: 39px;
    font-size: 3.9rem;
    padding-top: 2px;
    font-weight: 700;
}

header .header__line2 {
    color: #002651;
    font-size: 31px;
    font-size: 3.1rem;
    font-weight: 700;
    margin-bottom: 20px;
}

header .header__line2 img {
    vertical-align: middle;
}

header .bank {
    margin-bottom: 20px;
    /*width: 255px;*/
    display: block;
    margin: 0 auto 20px;
}

header .header_price {
    /*! position: absolute; */
    /*! bottom: 81px; */
    /*! left: 3px; */
    margin-bottom: 85px;
}

header .header_price .tab {
    width: auto;
    text-align: center;
}

header .header_price .tab .col1 {
    font-size: 27px;
    font-size: 2.7rem;
}

header .header_price .tab .col2 {
    margin-left: 5px;
    padding: 5px;
    background: #ffeb18;
    color: #002651;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    font-size: 40px;
    font-size: 4rem;
    font-weight: 700;
    width: 50%;
    margin: 10px auto 5px;
}

header .header_price .tab .col2 span {
    font-size: 34px;
    font-size: 3.4rem;
}

header .header_price .tab .col11 {
    color: #ba0a1b;
    font-size: 60px;
    font-size: 6rem;
    font-weight: 700;
    vertical-align: baseline;
}

header .header_price .tab .coll22 .bot {
    color: #ba0a1b;
    min-height: 25px;
    font-size: 25px;
    font-size: 2.5rem;
    padding-left: 5px;
}

header .header_price .tab .coll22 .top {
    color: #002651;
    font-size: 26px;
    text-decoration: line-through;
    /*!  */
}

.slide2 {
    padding-bottom: 25px;
}

.slide2 h1 {
    font-size: 20px;
    font-size: 2rem;
    letter-spacing: -1px;
    color: #002651;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.slide2 .s2col1 {
    width: 70px;
    text-align: right;
    padding-right: 10px;
}

.slide2 .dtable {
    font-size: 15px;
    color: #002651;
    margin-bottom: 15px;
}

.slide3 {
    background: url("../img/arbot.png") 50% 100% no-repeat #fff483;
    padding: 20px 0 40px;
    font-size: 20px;
    font-size: 2rem;
    color: #002651;
    text-align: center;
}

.slide3 span {
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    font-size: 30px;
    font-size: 3rem;
}

.slide4 {
    padding: 20px 0 30px;
}

.slide4 li {
    padding-left: 30px;
    background: url(../img/mark1.png) 0 2px no-repeat;
    font-size: 20px;
    font-size: 2rem;
    color: #002651;
    margin-bottom: 20px;
    line-height: 24px;
}

.slide4 .bordered {
    border: 4px solid #226fc5;
    padding: 10px;
    color: #226fc5;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.7;
    -webkit-opacity: 0.7;
    -khtml-opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)";
    z-index: 10;
    font-size: 15px;
    font-size: 1.5rem;
    transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    margin-top: 15px;
}

.slide5 {
    background: url("../img/arbot1.png") 50% 100% no-repeat #eaf5fb;
    padding: 30px 0 50px;
    font-size: 26px;
    font-size: 2.6rem;
    color: #002651;
    text-align: center;
}

.slide6 {
    padding-top: 15px;
    color: #002651;
}

.slide6 .fig {
    height: 55px;
    background: url("../img/fig.png") 50% 50% no-repeat;
}

.slide6 .tablej {
    display: table;
    color: #002651;
}

.slide6 .tablej.left {
    position: absolute;
    left: 5px;
    top: 0;
}

.slide6 .tablej.right {
    position: absolute;
    right: 5px;
    top: 0;
}

.slide6 .tablej .biginput {
    font-size: 50px;
    font-size: 5rem;
    font-weight: 700;
    padding-right: 10px;
}

.slide6 .tablej .text {
    font-size: 20px;
    font-size: 2rem;
}

.slide6 h2 {
    padding: 30px 0 20px;
    font-size: 19px;
    font-size: 1.9rem;
    text-align: center;
    font-weight: 300;
}

.slide6 .yeelow_b {
    text-align: center;
    font-style: italic;
    position: relative;
    margin-bottom: 20px;
    background: #ffeb18;
    padding: 15px 0 0 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    line-height: 1;
}

.slide6 .yeelow_b span {
    font-size: 60px;
    font-size: 6rem;
    color: #cd0b1e;
    font-weight: 700;
}

.slide6 .yeelow_b .text {
    position: absolute;
    font-weight: 700;
    font-size: 30px;
    font-size: 3rem;
}

.slide6 .yeelow_b .text.left {
    left: 15px;
    top: 15px;
}

.slide6 .yeelow_b .text.right {
    right: 25px;
    bottom: 15px;
}

.slide6 .fs20 {
    font-size: 20px;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 30px;
}

.slide7 {
    background: url("../img/arbot2.png") 50% 100% no-repeat #94aa48;
    padding: 30px 0 50px;
    font-size: 26px;
    font-size: 2.6rem;
    color: #fff;
    text-align: center;
}

.slide8 {
    padding: 15px 0 35px;
}

.slide8 .photowr {
    padding-bottom: 15px;
}

.slide8 .rewname {
    color: #002651;
    padding-bottom: 20px;
    font-size: 20px;
    font-size: 2rem;
}

.slide8 .rewname span {
    color: #94aa48;
    display: block;
    line-height: 1.2;
}

.slide8 p {
    font-size: 18px;
    font-size: 1.8rem;
    color: #002651;
    text-align: center;
    padding-bottom: 30px;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.slide9 {
    background: url("../img/foot.png") 50% 0 no-repeat #fff;
}

.slide9 .h174 {
    /*! height: 174px; */
    padding-top: 22px;
    color: #002651;
}

.slide9 h2 {
    font-size: 20px;
    font-size: 1.8rem;
    text-align: center;
    padding:  0 10px 10px;
}

.slide9 .bank {
    /*width: 250px;*/
    display: block;
    margin: 0 auto 10px;
}

.slide9 .skid50 {
    font-size: 25px;
    font-size: 2.5rem;
    color: #002651;
    padding: 6px;
    background: #fff26b;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    font-weight: 700;
    /*!  */
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.slide9 .tab {
    width: auto;
    /*! margin-left: 100px; */
    text-align: center;
}

.slide9 .tab .col1 {
    font-size: 27px;
    font-size: 2.7rem;
}

.slide9 .tab .col2 {
    margin-left: 5px;
    padding: 5px;
    background: #ffeb18;
    color: #002651;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    font-size: 40px;
    font-size: 4rem;
    font-weight: 700;
}

.slide9 .tab .col2 span {
    font-size: 34px;
    font-size: 3.4rem;
}

.slide9 .tab .col11 {
    color: #ba0a1b;
    font-size: 60px;
    font-size: 5rem;
    font-weight: 700;
    vertical-align: baseline;
}

.slide9 .tab .coll22 .bot {
    color: #ba0a1b;
    min-height: 25px;
    font-size: 25px;
    font-size: 2.5rem;
    padding-left: 5px;
}

.slide9 .tab .coll22 .top {
    color: #002651;
    font-size: 22px;
    text-decoration: line-through;
    padding: 0 0 0 0px;
}

#fform {
    padding: 10px 20px;
}

footer {
    background: #fffde3;
    padding: 15px 0;
    font-size: 20px;
    font-size: 2rem;
    color: #002651;
}

.total_price, .shipment_price {
    width: 145px;
    height: 20px;
    font-size: 15px;
    color: #002651;
}

.bot .curs {
    min-height: 25px;
    display: inline-block;
}

.shipment_price {
    margin: 5px 0 15px 0px;
}

.total_price {
    float: right;
    margin: 5px 10px 15px 0;
}

.ac_footer {
    font-size: 15px;
    margin-top: 10px;
}


.prices_wrap {
    position: relative;
    padding-top: 25px;
}

.top_index_price {
    position: absolute;
    top: 5px;
}

.top_index_price.style1 {
    top: 0
}

.plus_tax {
    color: #ba0a1b;
}
.b-note {
    font-size: 13px;
    text-align: center;
    padding: 0 10px;
    margin-top: 15px;
}
.form-wrap {text-align: center;}